<style>
  form {
    display: block;
    width: 500px;
    margin:0 auto;
  }

  form input[type="text"],
  form textarea {
    display: block;
    width: 100%;
    padding: 5px;
  }

  form div {
    margin: 10px 0;
  }

  form textarea {
    min-height: 200px;
  }
</style>
<div>
  <a href="?r=main/index">View</a>
</div>
<hr />
<form method="post">
  <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="data[name]" value="{{name}}" />
  </div>

  <div>
      <label for="description">Description</label>
      <textarea id="description" name="data[description]">{{description}}</textarea>
  </div>

  <div>
      <input type="submit" value="Save" />
  </div>
</form>
